/* ********** Skills ********* */
.Resume{
    font-size: 16px;
    margin-top: 2rem;
    padding: 1rem;
  }

  /*************For Mobiles******************/
@media only screen and (max-width: 600px) {
  /* ********** About ********* */
.Resume{
    font-size: 16px;
    margin-top: 2rem;
    padding: 0;
  }
}
